
@font-face
{
    font-family: Shabnam;
    src: url('../shabnam/Shabnam.eot');
    src: url('../shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('../shabnam/Shabnam.woff') format('woff'),
    url('../shabnam/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

@font-face
{
    font-family: Shabnam;
    src: url('../shabnam/Shabnam-Bold.eot');
    src: url('../shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('../shabnam/Shabnam-Bold.woff') format('woff'),
    url('../shabnam/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face
{
    font-family: Shabnam;
    src: url('../shabnam/Shabnam-Light.eot');
    src: url('../shabnam/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('../shabnam/Shabnam-Light.woff') format('woff'),
    url('../shabnam/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}

html {
    width: 100%;
}
body
{
    overflow-x: hidden;
    font-family: Shabnam, Tahoma;
    font-weight: 300;
    width: 100%;
}


.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;

}

.row {

}
.navbar li { color: #000 }

.blue {
    color: blue;
}

.blackhover:hover {
    color: #1a1a1a !important;
}

.blackhover {
    font-size: 17px;
}

.rtl {
    direction: rtl;
}

.noborder{
    border: none;
}

#primarybar {
    //position: fixed;
}

#header {
    height: 400px;
    background-image: url('../assets/call-of-duty-ghosts-pc-screenshot-1920x1080-005.jpg');
    background-size: 100%;
}

#layerDiv {
    background-color: black;
    opacity: 0.9;
    height: 100%;
    width: 100%;
}



#headerCenter {
    margin-top: 100px;
}

#headerImg {
    border-radius: 10%;
//    float: right;
    width: 110px;
    height: 110px;

    background-repeat: no-repeat;
}
#headerButton {
    margin-top: 20px;
}

#headerTitle {
  //  display: block;
    //display: inline;
    //float: right;
    //margin-right: 20px;
    //margin-top: 5px;
    color: white;
    font-size: 20px;
}

#headerCat {
    display: block;
    //float: right;
    margin-top: 5px;
    color: #c7c8c5;
    //padding-left: 100px;
}

#headerText {
    margin-top: 15px;
}

#headerRate {
    margin-top: 3px;
}

#headerOp {
    margin-right: 80px;
    position: absolute;
    bottom: 1px;
    color: white;
    font-family: bold;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}