
@font-face
{
    font-family: Shabnam;
    src: url('../shabnam/Shabnam.eot');
    src: url('../shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('../shabnam/Shabnam.woff') format('woff'),
    url('../shabnam/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

@font-face
{
    font-family: Shabnam;
    src: url('../shabnam/Shabnam-Bold.eot');
    src: url('../shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('../shabnam/Shabnam-Bold.woff') format('woff'),
    url('../shabnam/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face
{
    font-family: Shabnam;
    src: url('../shabnam/Shabnam-Light.eot');
    src: url('../shabnam/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('../shabnam/Shabnam-Light.woff') format('woff'),
    url('../shabnam/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}

html {
    width: 100%;
}
body
{
    overflow-x: hidden;
    font-family: Shabnam, Tahoma;
    font-weight: 300;
    width: 100%;
}


.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;

}

.row {

}
.navbar li { color: #000 }

.blue {
    color: blue;
}

.blackhover:hover {
    color: #1a1a1a !important;
}

.blackhover {
    font-size: 17px;
}

.rtl {
    direction: rtl;
}

.noborder{
    border: none;
}

#primarybar {
    //position: fixed;
}

#header {
    height: 400px;
    background-image: url('../assets/call-of-duty-ghosts-pc-screenshot-1920x1080-005.jpg');
    background-size: 100%;
}

#layerDiv {
    background-color: black;
    opacity: 0.9;
    height: 100%;
    width: 100%;
}



#headerCenter {
    margin-top: 100px;
}

#headerImg {
    border-radius: 10%;
//    float: right;
    width: 110px;
    height: 110px;

    background-repeat: no-repeat;
}
#headerButton {
    margin-top: 20px;
}

#headerTitle {
  //  display: block;
    //display: inline;
    //float: right;
    //margin-right: 20px;
    //margin-top: 5px;
    color: white;
    font-size: 20px;
}

#headerCat {
    display: block;
    //float: right;
    margin-top: 5px;
    color: #c7c8c5;
    //padding-left: 100px;
}

#headerText {
    margin-top: 15px;
}

#headerRate {
    margin-top: 3px;
}

#headerOp {
    margin-right: 80px;
    position: absolute;
    bottom: 1px;
    color: white;
    font-family: bold;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

hr.style14 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.infoImg {
    width: 100%;
    background-size: 100%;
}

//leaderboard
  #icon {
      float: left;
      margin-left: 100px;

  }

.box {
    background-color: white;
    width: 100%;
    height: 850px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.title{
    color: gray;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}



.photo {
    margin-right: 50px;
    border-radius: 100%;
    width: 50%;
    height: 100%;
    margin-top: 10px;
    margin-left: 25%;
}
.photo:hover{

}

.listuser {
    display: block;
    text-align: right;
    margin-top: 20px;
    height: 60px;
//	background-color: red;
}
.listuser:hover {
    background-color: lightgray;
}


.listphoto {
    border-radius: 100%;
    width: 60px;
    height: 60px;
//	margin-top: 10px;
    margin-left: 10px;
    float: right;
}

.listrank {
    float: right;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 25px;
}
.listusername {
    float: right;
    margin-top: 5px;
//margin-right: 5px;
//background-color: black;
}

.listscore {
    color: green;
//float: right;
    margin-top: 10px;
//margin-right: 100px;
    font-size: 80%;

}

.liststars{
    position: relative;
    color: gold;
    margin-left: 20px;
    float: left;
    top:-30px;
}

.hex {
    border-radius: 50%;
    margin-right: 60px;

    vertical-align: middle;
    line-height: 30px;
    position: absolute;
    font-size: 15px;
    text-align: center;
    color: white;
    float: left;
    width: 30px;
    height: 30px;
    top:470px;
    background-color: #757575;


}
#hex2.hex {
    margin-left: 100px;
}

#hex1.hex {
    margin-left: 110px;
}

#hex3.hex{
    margin-left: 100px;
}

.listhex{
    border-radius: 50%;
    vertical-align: middle;
    line-height: 20px;
    position: relative;
    font-size: 70%;
    text-align: center;
    color: white;
    float: left;
    width: 20px;
    height: 20px;
    left:710px;
    top:40px;
    margin-left: 100px;
    background-color: #757575;
}


/*
#hex1.hex {
	float: left;
border-right: 30px solid #6C6;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
}


#hex2.hex {
	float: left;
width: 60px;
height: 104px;
background-color: #6C6;
}

#hex3.hex {
	float: left;
border-left: 30px solid #6C6;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;

}
*/

.rank {
    margin-left: 50%;
    margin-right: 45%;
}

.num2:hover {
    background-color: lightgray;
}
.num2{
    text-align: center;
    float: left;
    width: 33%;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
//background-color: gray;
}
.num1:hover{
    background-color: lightgray;
}
.num1{
    float: left;
    width: 34%;
//margin-left: 5px;
    height: 100%;
//margin-bottom: 20px;
    margin-top: 20px;
//background-color: gray;
}

.num3:hover{
    background-color: lightgray;
}
.num3{
    float: left;
    width: 33%;
    height: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
//background-color: gray;

}

#firstrankimg {
    width: 60% !important;
    border:2px solid yellow;
}

#secondrankimg {
    border:1px solid gray;
}

#thirdrankimg {
    border:1px solid red;
}

.username{
    font-size: 80%;
    width: 50%;
    margin:auto;
    margin-left: 27%;
}

#firstrankuser {
    margin-left:32% !important;
//font-weight: bold;
}

.score{
    font-size: 90%;
    width: 50%;
    margin:auto;
    margin-left: 35%;
    color: green;
}

#firstrankscore {
    margin-left:40% !important;
    font-weight: bold;
}

.stars{
    font-size: 80%;
    width: 50%;
    margin:auto;
    color: gold;
}
#firstrankstar {
    margin-left:32% !important;
//font-weight: bold;
}

hr {
    display: block;
    width: 90%;
    color: red  !important;
}

.tmp {
    color: white;
}

.footer {
    text-align: center;
    width: 100%;
}
.footer:hover{
    font-size: 200%;
    background-color: lightgray;
}

#rankDataContainer2 {
    margin-left: 5px;
}

#rankDataContainer1 {
    margin-right: 70px;
}
#rankDataContainer3  {
    margin-right: 30px;
}

.rankDataContainer {
    margin-top: 5px;
}

#score2 {
    margin-right: 65px;
}

#score3 {
    margin-right: 65px;
}

#firstrankscore {
    margin-right: 50px;
}

#scoreNav {
    background-color: #f9f5f2;
    width: 100%;
    margin: 0;
    color: black;
    direction: rtl;
}

.row{
    margin: 0;
}

.rowList {
    margin-top: 20px !important;
    text-align: right;
}

.profileList {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: right;
    margin-left: 10px;
}

.rank1 {
    color: yellow !important;
}

.rank2 {
    color: #989996 !important;
}

.rank3 {
    color: #b5824b !important;
}

.fa-arrow-down {
    color: red;
}

.fa-arrow-up {
    color: green;
}

