
@font-face
{
    font-family: Shabnam;
    src: url('./shabnam/Shabnam.eot');
    src: url('./shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('./shabnam/Shabnam.woff') format('woff'),
    url('./shabnam/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

@font-face
{
    font-family: Shabnam;
    src: url('./shabnam/Shabnam-Bold.eot');
    src: url('./shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('./shabnam/Shabnam-Bold.woff') format('woff'),
    url('./shabnam/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face
{
    font-family: Shabnam;
    src: url('./shabnam/Shabnam-Light.eot');
    src: url('./shabnam/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('./shabnam/Shabnam-Light.woff') format('woff'),
    url('./shabnam/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}

html {
    width: 100%;
}
body
{
    font-family: Shabnam, Tahoma;
    font-weight: 300;
    width: 100%;
}
.row {
    width: 100%;
    margin: 0 !important;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.navbar li { color: #000 }

#html-banner {
    text-align: right;
}

#viewport1-title {
    font-size: 50px;
}
#viewport1-desc {
    font-size: 20px;
}


#blue {
    color: cornflowerblue;
}
.navbar-brand {
    font-weight: bold;
}

.viewport-text {
    direction: rtl;
    color: white;
}

#viewport1 {
    height: 600px;
    width: 100%;
    margin: 0;

}

#tmpdiv {
    background-color: black;
    opacity: 0.8;
    height: 100%;
    width: 100%;
}

#slider {
    //background-color: cornflowerblue;
    //width: 100%;
    //height: 150px;
    background-color: black;
}

.slideBarItem {
    //display: inline-block;
    //float: left;
    direction: rtl;
    text-align: right;
    color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*
#slider-row{
    overflow: visible;

}
.owl-item{
    float: left;
    z-index: 0;
}
.owl-item:hover{
    transform: scale(1.2);
    z-index: 2;
}
*/
/*
.owl-item:has(< #slider){
    position: absolute;
    bottom: 0px;
}
*/
#slider .owl-item:hover{
    //height: 300px;
    transform: scale(1.15);
//    z-index: 2;
}

.owl-stage {
 //   position: relative;
}

.slideBarItem:hover {
}

.sliderImage {
    height: 130px;
    visibility: hidden;
}

.sliderOverlay {
    background-color: black;
    opacity: 0.6;
    height: 100%;
    width: 100%;

}

.activeSOverlay {
    background-color: darkred !important;
    opacity: 0.8 !important;
}

.sliderOverlay:hover {
    background-color: cornflowerblue;
    opacity: 1;

}
.sliderOverlay:focus {
    background-color: #3a945b;
}

.sliderText {
    padding-top: 15px;
    color: white;
    font-family: bold;
    font-size: 20px;
    direction: rtl;
    text-align: center;
}

.sliderComments {
    padding-top: 15px;
    color: white;
    padding-right: 20px;
    font-family: bold;
    font-size: 15px;
}

.sliderButtons {
    //margin-top: 50px;
    position: absolute;
    //color: white;
    //margin-right: 20px;
    right: 20px;
    top: 150px;
    font-family: bold;
    font-size: 15px;
}

li {
    list-style: none;
}

#registerButton {
    padding: 6px;
    color: white;
}

#viewport2 {
    margin-top: 30px !important;
    direction: rtl;
    text-align: right;
}

#newGamesTitle {
    font-size: 30px;
}
.sliderImage2 {
    height: 130px;
    background-repeat: no-repeat;
    //visibility: hidden;
}

#slider2 {
    //height: 130px !important;
}

#comments {
    direction: rtl;
    text-align: right;
    background-color: #dddddd;
}

#commentsTitle {
    font-size: 30px;
}

.commentsInnerTitle {
    font-size: 20px;
}

hr.style14 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.imgFloat {
    border-radius: 50%;
    float: right;
    margin-left: 10px;
}

.rtl {
    direction: rtl;
}

#commentsInnerTitle {
    font-size: 20px;
    margin-bottom: 10px;
}